[submodule "submodules/cf"]
	path = submodules/cf
	url = https://github.com/rpz80/cf.git
[submodule "submodules/concurrentqueue"]
	path = submodules/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "schemas"]
	path = schemas
	url = https://github.com/mystfit/showtime-schemas.git
[submodule "submodules/cxxopts"]
	path = submodules/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = v2.2.0
[submodule "submodules/readerwriterqueue"]
	path = submodules/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "submodules/delegates"]
	path = submodules/delegates
	url = https://github.com/marcmo/delegates.git
[submodule "submodules/multifunction"]
	path = submodules/multifunction
	url = https://github.com/klmr/multifunction.git
[submodule "submodules/uthash"]
	path = submodules/uthash
	url = https://github.com/troydhanson/uthash
