[submodule "submodules/cf"]
	path = submodules/cf
	url = https://github.com/rpz80/cf.git
[submodule "submodules/concurrentqueue"]
	path = submodules/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "schemas"]
	path = schemas
	url = https://github.com/mystfit/showtime-schemas.git
